* {
    font-family: monospace;
}

body {
    border: 1px solid black;
}

#controls {
    border: 1px solid #93a1a1;
    background-color: #eee;
    padding: 2%;
}
.button-row {
    display: flex;
    background-color: blue;
}
}
.button-row > button {
    display: flex;
    margin: 2%;
    padding: 2%;
    background-color: #ccc;
    font-size: 2em;
    cursor: pointer;
}

#canvas {
    position: relative;
    /* display: inline-block; */
    width: 600px;
    height: 600px;
    /* margin: 2%; */
    background-color: #c5d4d4;
}
.circle {
    position: absolute;
    border-radius: 50%;
    background: blue;
    border: 2px solid black;
}
.square {
    position: absolute;
    background: red;
    border: 2px solid black;
}
