* {
    font-family: monospace;
}

#container {
    display: flex;
    border: 1px solid black;
}

#controls {
    width: 600px;
    background-color: lightgrey;
    border: 1px solid grey;
}
#controls > * {
    margin: 1%;
    padding: 1%;
}

#canvas {
    position: relative;
    width: 600px;
    height: 600px;
    background-color: lightgrey;
}

#info {
    width: 300px;
}
/* Circles should be purple, Squares should be red, Triangles should be yellow, and Rectangles should be green */
.circle {
    position: absolute;
    border-radius: 50%;
    background: purple;
    border: 2px solid black;
}
.square {
    position: absolute;
    background: red;
    border: 2px solid black;
}
.triangle-tl {
    border-top: 100px solid yellow;
    border-right: 100px solid transparent;
}
.rectangle {
    background: green;
}